beanmodeller-maven-plugin/src/test/resources/xml_schema_definitions/simple2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="simple" type="simpleType"/>
  <xs:complexType name="simpleType">
    <xs:sequence>
      <xs:element type="xs:string" name="someProperty"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>